<div *ngIf="statusMessage; else noError">
    <div class="errorMsg">{{statusMessage}}</div>
</div>

<ng-template #noError>
    <div class="criar-lp-align" align="center">
        <form>
            <h2>Criar Linha de Produção</h2>
            ID Linha de Produção:
            <input #idLinha type="text"><br><br>
            Descrição:
            <input #descricao type="text"><br><br>
            Posição da Linha de Produção
            <br><br>
            Coordenada x:
            <input #posicao_x type="text"><br><br>
            Coordenada y:
            <input #posicao_y type="text"><br><br>
            Orientação:
            <input #orientacao type="text"><br><br>
            Dimensões da Linha de Produção
            <br><br>
            Comprimento:
            <input #comprimento type="text"><br><br>
            Largura:
            <input #largura type="text"><br><br>
            <form>
                <button class="add-lp-btn"
                    (click)="addLinhaProducao(idLinha.value, descricao.value, posicao_x.value, posicao_y.value, orientacao.value, comprimento.value, largura.value); idLinha.value='';descricao.value=''; posicao_x.value=''; posicao_y.value=''; orientacao.value=''; comprimento.value=''; largura.value=''">Submeter</button>
                &nbsp;
                <button class="add-lp-btn" (click)="goBack()">Back</button>
            </form>
            <div class="linhasproducao" align="center">
                <form>
                    <h2>Linha de Produçãos Disponíveis:</h2>
                    <li *ngFor="let lp of allLinhasProducao" value="{{lp.id}}">
                        <a routerLink="/linha-producao-detail/{{lp.id}}">
                            <span class="Badge">{{lp.descricao}}</span>
                        </a>
                        <button class="delete" title="Delete Tipo Linha de Produção" (click)="delete(lp)">x</button>
                    </li>
                </form>
            </div>
        </form>
    </div>
</ng-template>