<div *ngIf="statusMessage; else noError">
    <div class="errorMsg">{{statusMessage}}</div>
</div>

<ng-template #noError>
    <div class="criar-m-align" align="center">
        <form>
            <h2>Criar Máquina</h2>
            ID Máquina:
            <input #idMaquina type="text"><br><br>
            Nome da Máquina:
            <input #nome type="text" id="ex2"><br><br>
            Marca da Máquina:
            <input #marca type="text" id="ex3"><br><br>
            Modelo da Máquina:
            <input #modelo type="text" id="ex4"><br><br>
            Posição Na Linha de Produção
            <br><br>
            Coordenada x:
            <input #x type="text"><br><br>
            Coordenada y:
            <input #y type="text"><br><br>
            Posição Relativa na Linha de Produção:
            <input #posicaoRelativa type="text">
            <br><br>
            <div class="ass-m-div">
                <div class="tiposMaquina">
                    Linhas de Produção Disponíveis:
                    <li *ngFor="let lp of allLinhasProducao" value="{{lp.id}}">
                        <span class="Badge" (click)="id_linhaProducao.value=lp.id">{{lp.descricao}}</span>
                    </li>
                </div>
            </div>
            Linha Produção Associada:
            <input #id_linhaProducao type="text" readonly><br><br>
            <div class="ass-m-div">
                <div class="tiposMaquina">
                    Tipo Máquinas Disponíveis:
                    <li *ngFor="let tm of allTiposMaquina" value="{{tm.id_tipoMaquina}}">
                        <span class="Badge"
                            (click)="id_tipoMaquina.value=tm.id_tipoMaquina">{{tm.descricaoTipoMaquina}}</span>
                    </li>
                </div>
            </div>
            Tipo Máquina Associada:
            <input #id_tipoMaquina type="text" readonly><br><br>
            <div>
                <form>
                    <button class="add-m-btn"
                        (click)="addMaquina(idMaquina.value, nome.value, marca.value, modelo.value, x.value, y.value, posicaoRelativa.value, id_tipoMaquina.value, id_linhaProducao.value); idMaquina.value=''; nome.value=''; marca.value=''; modelo.value=''; x.value=''; y.value='';posicaoRelativa.value='';id_tipoMaquina.value='';id_linhaProducao.value=''">Submeter</button>
                    &nbsp;
                    <button class="add-m-btn" (click)="goBack()">Back</button>
                </form>
            </div>

            <div class="maquinas" align="center">
                <form>
                    <h2>Máquinas Disponíveis:</h2>
                    <li *ngFor="let m of allMaquinas" value="{{m.id}}">
                        <a routerLink="/maquina-detail/{{m.id}}">
                            <span class="Badge">{{m.nomeMaquina}}</span>
                        </a>
                        <button class="delete" title="Delete Tipo Máquina" (click)="delete(m)">x</button>
                    </li>
                </form>
            </div>
        </form>
    </div>
</ng-template>