<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2>Visualização iterativa da Fábrica</h2>
                <div>
                    <form>
                        <button class="ui" (click)="criarLinha()">Criar Linha de Produção</button>
                        <button class="ai" (click)="criarMaquina()">Criar
                            Máquina</button>
                        <button class="ai" (click)="eliminarLinha()">Eliminar Linha Produção</button>
                        <button class="ai" (click)="apagarMaquina()">Eliminar
                            Máquina</button>
                        <button class="ai" (click)="luminosidade()">Luminosidade</button>
                        <button class="ai" (click)="planeamentoProducao()">Planeamento de Produção</button>
                    </form>
                </div>
                <div>
                    <div id='tooltip'>{{MENSSAGEM}}</div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<canvas style="margin-left:10px ; width: 1500px; height: 800px;" id="c">

</canvas>