<div>
    <form>

        <!--<script src="../linha-producao/linha-producao.component.ts"></script>
        routerLink="/linhas-producao"-->

        <button class="ui" (click)="criarLinha()" >Criar Linha de Produção</button>
        <!--<button class="ui" (click)="criarMaquina()">Criar
            Máquina</button>
        <button class="ui" (click)="importar()">Importar</button>
        <button class="ui" (click)="eliminarLinha()">Eliminar Linha Produção</button>
        <button class="ui" (click)="apagarMaquina()">Eliminar
            Máquina</button>-->
        <button class="ui" (click)="luminosidade()">Luminosidade</button>

    </form>
</div>