<div id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Bem Vindo à MyOwnCutlery!</h1>
                    <p>
                    </p>
                    <span routerLink="/registo-utilizador" class="registo">
                        <h2>Get Started</h2>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <img src="../../../../assets/img/cutlery-main-page.jpg" class="img">
</div>