<div *ngIf="maquina" align="center">
    <h2>{{maquina.nomeMaquina | uppercase}} Detalhes</h2>
    <div><span>ID Máquina: </span>{{maquina.id}}</div>
    <div>
        <label>Nome Máquina:
            <input [(ngModel)]="maquina.nomeMaquina" />
        </label>
        <br>
        <label>Marca Máquina:
            <input [(ngModel)]="maquina.marcaMaquina" />
        </label>
        <br>
        <label>Modelo Máquina:
            <input [(ngModel)]="maquina.modeloMaquina" />
        </label>
        <br>
        <label>Posição Linha Producao Máquina:
            <br>
            <br>
            Coordenada x:
            <input [(ngModel)]="maquina.x" />
            <br>
            Coordenada y:
            <input [(ngModel)]="maquina.y" />
        </label>
        <br>
        <label>Posição Relativa na Linha de Produção:
            <input [(ngModel)]="maquina.posicaoRelativa" />
        </label>
        <br>
        <div class="ass-opp-div-r">
            <div class="tiposmaquina">
                Linhas Produção Disponíveis:
                <li *ngFor="let lp of linhasProducaoAll" value="{{lp.id}}">
                    <span class="Badge" (click)="assLinhaProducaoMaquina(lp.id)">{{lp.descricao}}</span>
                </li>
            </div>
        </div>
        <label>Linhas Produção Associada:
            <input readonly="readonly" [(ngModel)]="maquina.id_linhaProducao" name="something">
        </label><br><br>
        <div class="ass-opp-div-r">
            <div class="tiposmaquina">
                Tipo Máquina Disponíveis:
                <li *ngFor="let tm of tiposMaquinaAll" value="{{tm.id_tipoMaquina}}">
                    <span class="Badge"
                        (click)="assTipoMaquinaMaquina(tm.id_tipoMaquina)">{{tm.descricaoTipoMaquina}}</span>
                </li>
            </div>
        </div>
        <label>Tipo Máquina Associada:
            <input readonly="readonly" [(ngModel)]="maquina.id_tipoMaquina" name="something">
        </label><br><br>
    </div>
    <button (click)="goBack()">Back</button>
    &nbsp;
    <button (click)="save()">Save</button>
</div>