<div class="sidenav">
    <button class="dropdown-btn">Registos
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a routerLink="/criar-operacao">Operações</a>
        <a routerLink="/tipos-maquina">Tipos de Máquina</a>
        <a routerLink="/maquinas">Máquinas</a>
        <a routerLink="/linhas-producao">Linhas de Produção</a>
        <a routerLink="/produtos">Produtos</a>
        <a>Encomendas</a> 
        <a routerLink= "/visualizacao-execucao">Visualização da Execução</a>
    </div>
</div>