<div *ngIf="operacao" align= "center">
    <h2>{{operacao.descricaoOperacao | uppercase}} Detalhes</h2>
    <div>
        <label>Descrição Operação:
            <input [(ngModel)]="operacao.descricaoOperacao" placeholder="descricao" />
        </label>
        <br>
        <label>Duração Operação:
            <input [(ngModel)]="operacao.duracaoOperacao" placeholder="duracao" />
        </label>
        <br>
        <label>Descricao Ferramenta:
            <input [(ngModel)]="operacao.id_ferramenta" placeholder="descricaoFerramenta" />
        </label>
        <br>
        <label>Tempo SetUp da Ferramenta:
            <input [(ngModel)]="operacao.duracaoFerramenta" placeholder="duracaoFerramenta" />
        </label>
    </div>
    <button (click)="goBack()">Back</button>
    &nbsp;
    <button (click)="save()">Save</button>
</div>