<div *ngIf="produto" align="center">
    <h2>{{produto.nomeProduto | uppercase}} Detalhes</h2>
    <div>
        <label>Nome Produto:
            <input [(ngModel)]="produto.nomeProduto" placeholder="nomeProduto" />
        </label>
        <br>
        <label>Descrição Produto:
            <input [(ngModel)]="produto.descricaoProduto" placeholder="descricaoProduto" />
        </label>
        <br>
        <label>Plano Fabrico:</label>
        <div class="ass-m-div">
            <div class="planoFabrico">
                Operações Associadas:
                <li *ngFor="let op of operacoesAssociadasToShow" value="{{op.id}}"> 
                    <span class="Badge">{{op.descricaoOperacao}}</span>
                </li>
            </div>
        </div>
    </div>
    <button (click)="goBack()">Back</button>
    &nbsp;
    <button (click)="save()">Save</button>
</div>